html{
    background-color:rgb(37, 35, 35)
    /* background: url(https://img.mvideo.ru/Pdb/40073481b.jpg) no-repeat right top rgb(37, 35, 35) ; */
    
}
body{
    height: 1000px;
}
#header{color:rgb(124, 93, 173)}
h2{color:rgb(201, 255, 75)} 
h3{color:white}
h1{color:aqua}
.style{color:darkgray}
p.style{color:crimson}
p b{
    
background-color: darkgreen;
color:darkgray
}
p#that:first-letter{
    color:darkslateblue;
}
.href{
    color:hotpink;
    font-size: 20px;
    text-decoration: none;
   
}
.href:hover{
    color:lawngreen;
    font-size :30px;
}
p:hover{background-color: lightgray;}
.href:active{
    color:lightslategray;
}
.href:visited{
    color:maroon;
  
}
p {
    text-indent: 1.1em;
}
#textstyles{
    font-size:1.1em;
    font-weight: bold;
    font-family:Comic Sans MS;
    text-align: justify;
    text-transform:capitalize;
    word-spacing: 20px;
    letter-spacing: 10px;
    line-height: 300%;
    text-transform: uppercase;
}
#testBlock{
    border:3px outset black;
    border-bottom: 30px dashed  rebeccapurple;
    width: 250px;
    height: 50px;
    float: right;
    background-color: aquamarine;
    margin: 73px 45px 65px 94px;
    padding: 10px;
    
    }
    header{
        width: 99%;
        height: 50px;
        background-color: rgb(95, 46, 100);
        border-bottom: 2px solid thistle;
        padding: 10px;
        font-size: 1.2em;
        color: teal;
        float: left;
    }
    article,aside{
        background-color: rgb(34, 44, 44);
        height: 450px;
        border-radius: 5px;
        border: 1px solid goldenrod;
        box-sizing: border-box;
        margin-top: 30px;
        float: left;
        overflow: auto;
        min-height: 450px;
         }
    
    article{
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5px;
   
    }
    .spanBlock{
        display:block;
        height: 40px;
        width: 60px;
        border: 1px solid red;
        overflow: visible;
      
        }
    
    aside{
        width: 25%;
        
      }
      aside ul{
         list-style-position: outside;
         list-style-type:square;
         /* list-style-image: url(https://i.pinimg.com/236x/02/66/ff/0266ff8718db7ef31ead9b42f906786a.jpg); */
         
         

      }
    
    footer{
        width: 99%;
        height: 70px;
        margin-top: 5px;
        background-color: rgb(116, 255, 103);
        border-bottom: whitesmoke;
        padding: 10px;
        font-size: Comic Sans MS;
        color: blueviolet;
        float: left;
    }
   